body {
  margin: 0 auto;
  background-color: whitesmoke;
  text-align: center;
}

#index {
  background-image: url('../assets/images/fundoindex.png');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 90vh;
  width: 100%;
  margin-top: -40px;
}

nav {
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 90px;
  box-shadow: 1px 1px rgb(209, 209, 209);
  margin-bottom: 40px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 15px;
}

nav li a {
  margin: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.767);
}

nav li a:hover {
  color: #FFE521;
}

.activeLinkColor {
  color: #FF009E;
  padding: 5px;
  border-bottom: 2px solid #FFE521;
}

.activeLinkColor:hover {
  color: #FF009E;
}

.loginIcons {
  display: inline-block;
  margin: 5px;
  text-align: center;
}

nav h1 {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 12px;
  color: #a1a1a1;
  margin-right: -185px;
}

.fa-user-circle {
  color: #a1a1a1;
}

.welcome {
  text-align: center;
  font-family: 'Open Sans';
  font-weight: normal;
  color: rgba(0, 0, 0, 0.767);
  font-size: 18px;
  margin-top: -30px;
  margin-bottom: 45px;
}

.indexTitle {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 20px;
  color: #FF009E; 
}

.title , .data-title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0;
}

.data-title {
  font-size: 18px!important;
}

.hr-data-title {
  width: auto;
  height: 2px;
  background-color: #FFE521;
  border: none;
}

.fa-angle-double-right {
  color: #FF009E;
}

main {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  flex-wrap: wrap;
}

.data-box {
  width: 400px;
  height: auto;
  background-color: white;
  border: 1px solid rgb(209, 209, 209);
  padding: 10px;
  margin: 20px;
}

.scores-box {
  width: 865px;
  height: auto;
  background-color: white;
  border: 1px solid rgb(209, 209, 209);
  padding: 10px;
  margin: 20px;
}

#studentsCounter , #quitterPercentage , #averageStudents , #averageStudentsPercentage , #totalNps , #specificNps , #satisfactionPercentage , #scoreMentores, #scoreJedi , #techNumber , #hseNumber , #techPercentage , #hsePercentage , #numberSprints , #numberSprints2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #FF009E;
  display: inline-block;
  margin: 7px;
  background-color: whitesmoke;
  padding: 15px;
  width: 150px;
  vertical-align: middle;
}

#studentsCounter span , #quitterPercentage span , #averageStudents span , #averageStudentsPercentage span , #totalNps span , #specificNps span , #satisfactionPercentage span , #scoreMentores span , #scoreJedi span , #techNumber span , #hseNumber span , #techPercentage span , #hsePercentage span{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: grey;
  font-weight: normal!important;
}

.description {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  color: black;
  font-weight: normal!important;
  background-color: none!important;
}

.sprint {
  color: black!important;
}

footer {
  width: 100%;
  height: 120px;
  margin-top: -20px;
  background-color: #56F89A;
  text-align: center;
  position: fixed;
  bottom: 0px;
}

footer h1 {
  color: rgba(0, 0, 0, 0.767);
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: 600;
}

footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.767);
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: normal;
}

.fa-file-alt , .fa-calendar-alt , .fa-trello , .fa-google-drive , .fa-github-square , .fa-slack , .fa-facebook-square , .fa-twitter-square , .fa-instagram {
  display: inline-block;
  margin: 8px;
  color: rgba(0, 0, 0, 0.767);
}

#studentsProfiles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.profileBox {
  align-self: center;
  margin: auto;
  width: 700px;
  height: auto;
  background-color: white;
  margin: 20px;
  border: 1px solid rgb(209, 209, 209); 
  padding: 10px;
  font-family: 'Lato', sans-serif; 
  font-weight: 600; 
}

.profileImg {
  width: 132px; 
  height: 185px; 
  float: left;
}

.profileName {
  text-transform: uppercase; 
  color: black; 
  font-family: 'Lato', sans-serif; 
  font-weight: bold; 
  font-size: 17px; 
  letter-spacing: 0;
}

.profileTitle {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #FF009E;
}

.profileScores {
  background-color: whitesmoke; 
  display: inline-block; 
  width: 150px; 
  height: auto; 
  padding: 10px;
  margin: 10px;
}

.styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
}

.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 268px;
}

.styled-select.slate {
  background: url(../assets/images/select.jpg) no-repeat right center;
  height: 34px;
  width: 240px;
  display: inline-block;
}

.styled-select.slate select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 268px;
}

.active , .inactive {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 600;
  background-color: none!important;
}

.active {
  color: green;
}

.inactive {
  color: red;
}
